#mainNav {
  background-color: #212529; // Always black background
  padding-top: 10px; // Adjust top padding for proper spacing
  padding-bottom: 10px; // Adjust bottom padding for proper spacing

  .navbar-toggler {
    font-size: 12px;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: $primary;
    @include heading-font;
  }

  .navbar-brand {
    color: $primary;
    @include script-font;
    
    &.active,
    &:active,
    &:focus,
    &:hover {
      color: darken($primary, 10%);
    }
  }

  .navbar-collapse {
    display: flex; // Use flexbox to control the navbar collapse
    justify-content: center; // Center navbar items
    align-items: center; // Vertically align items in the center
    width: 100%; // Ensure collapse container takes full width
  }

  .navbar-nav {
    display: flex;
    justify-content: center; // Center items within the navbar
    align-items: center; // Ensure vertical alignment of the items
    margin: 0; // Remove any extra margins

    .nav-item {
      margin: 0 15px; // Adjust space between items
      .nav-link {
        font-size: 90%;
        font-weight: 400;
        padding: 0.75em 1.5em; // Adjust padding for a clean look
        letter-spacing: 1px;
        color: rgb(255, 255, 255);
        @include heading-font;
        
        &.active,
        &:hover {
          color: $primary;
        }
      }
    }
  }

  // Media query adjustments for larger screens
  @media (min-width: 992px) {
    .navbar-nav {
      .nav-item {
        .nav-link {
          padding: 1.1em 2em; // Increase padding on larger screens
        }
      }
    }
  }
}
