/* Custom styles for the introduction section */
.page-section .section-subheading {
    margin-bottom: 10px;
  }
  
  .page-section .large.text-muted {
    max-width: 900px;
    margin: 0 auto;
  }
  